html, body {
    font-size: 10px;
    min-width: 290px;
    color: #4d4e53;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 290px;
    width: 320px;
    height: 100%;
    border-right: 3px solid gray;
}

header {
    color: black;
    font-size: 2.8rem;
    margin: 10px;
    text-align: center;
    font-weight: thin;
}

#nav-title {
    padding: 10px;
}

#navbar ul {
    padding: 0;
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar li {
   width: 100%;
   font-size: 1.8rem; 
   list-style: none;
   position: relative;
   border-top: 1px solid gray;
}

#navbar a {
    display: block;
    text-decoration: none;
    color: #4d4e53;
    padding: 10px 30px;
}

#navbar a:hover {
    background-color: #4d4e53;
    color: white;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    margin-bottom: 110px;
    font-size: 1.6rem;
    padding: 20px;
}

section article {
    margin: 15px;
}

section li {
    margin: 10px 0 0 20px;
}

section article h3 {
    font-weight: thin;
    font-size: 1.6rem;
}

img {
    display: block;
    margin: 20px 0;
    border: solid black 1px;
    max-width: 600px;
}

@media (max-width: 670px){
    img {
        width: 400px;
    }
}

#main-doc header {
    text-align: left;
    margin: 0;
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }

  @media only screen and (max-width: 980px) {
    #navbar {
        position: absolute;
        top:0;
        max-height: 320px;
        width: 100%;
        border: none;
        border-bottom: 2px solid gray;
        overflow: hidden;
        z-index: 1;
    }
    #navbar ul {
        max-height: 250px;
        border: 1px solid black;
    }

    #nav-title {
        margin: 5px 0;
    }

    #main-doc {
        position: relative;
        margin-top: 330px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    img {
        width: 400px;
    }

    code {
        margin-top: 0;
        margin-bottom: 0;
        min-width: 200px;
        font-size: 1.2rem;
    }

  }

  @media only screen and (max-width: 400px){
    #main-doc {
        margin-left: -20px;
        padding: 0;
    }
    img {
        max-width: 300px;
    }

    code {
        margin-left: 10px;
        margin-top: 0;
        font-size: 1rem;
        padding-right: 4;
        word-wrap: break-word;
    }
  }